/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----------------------------------- */

:root {
    --bgCol : #cfcfc4;/*#989898;/*#1167bf;/* dbe1f1; */
    --hLigh : #543;
    --dark  : #543;
    --dim   : #ccc;
    --nemph : #838383;
    --link  : #084999;
    --orange: #ef8700;
}
/* html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, */
/* a, address, code, del, em, img, strike, strong, b, ul, li, footer { */
/*     margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline } */
/* html { line-height: 1.5; color: var(--dark); background-color: var(--bgCol); font-size: 1.2rem } */
html { background-color: var(--bgCol); font-size: 1.2rem }
body { padding: 25px; margin: auto; max-width: 36em; font-family: Ubuntu Mono, mono }
@media only screen and (min-width: 640px) { body { margin: auto } html { padding: .5em } }

h1 { font-size: 200%; margin-bottom: 1rem; width: 100%; /* border-bottom: 1px solid black */ }
p + p { margin-top: 1rem }
em { background-color: yellow; padding: 2pt }
.changed { text-align: right; color: var(--nemph) }
ul.nav { list-style: none; padding: 0; tex}
a { background-color: #bbb; padding: 3px 5px; margin: 0px -5px }

/* #about { display:inline-block } */
/* h1, h2 { font-weight: 800 ; text-align: left; border-left: solid 30px var(--orange); padding-left: 10px; margin-left: -40px } */
/* h1 { font-size: 2.40rem } */
/* h2 { font-size: 1.4rem; margin-top: 1.5em } */
/* ul { list-style: none; margin: .5em 0em } */
/* ul.articles li {font-size: 90%} */
/* p + ul { margin-top: 1.5em } */
/* .cv-links img { height: 1em; vertical-align: middle} */
/* ul + ul { margin-top: 1.5em } */
/* p + p { margin-top: 1.5em } */

/* li:hover { list-style: disc } */
/* b { font-weight: bold } */

/* footer { margin-top: 3em; font-size: 70%; text-align:right } */
/* .emoji { color: var(--bgCol); display:none } */
/* .time { margin-top: 1em; color: var(--nemph) } */
/* .where-pub { /\*display:block*\/ } */
/* .where-pub, .where-talk { font-size: 80%; padding: 0em .2em; color: var(--nemph) } */
/* .boxed { margin: 15px -10px; margin-right: -10px; border: 3px solid var(--orange); border-radius: 10px; padding: 7px } */
/* .ipa { color: var(--dim); font-size: 70%; margin-left: 1.5em; font-weight: normal } */
/* .latexname { color: var(--dim); font-size: 70%; margin-left: 1.5em; font-weight: normal } */
/* a:link { text-decoration: underline; color: var(--link) } */
